*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color1: hsl(263, 55%, 52%);
    --primary-color2: hsl(217, 19%, 35%);
    --primary-color3: hsl(219, 29%, 14%);
    --primary-color4: hsl(0, 0%, 100%);
    --neutral-color1: hsl(0, 0%, 81%);
    --neutral-color2: hsl(210, 46%, 95%);
    --body-font: 13px;
    --font-family: 'Barlow Semi Condensed', sans-serif;
}
/* 
Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

body{
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    background-color: var(--neutral-color2);
}

main{
    max-width: 1300px;
    height: fit-content;
    margin: 1em auto;
    /* border: solid 3px magenta; */
    display: grid;
    grid-template: 50% auto / repeat(4, 1fr);
    gap: 2em;
    padding: 1rem 2rem;
}

img{
    border-radius: 50px;
}

article, header{
    position: relative;
    z-index: 2;
}

.container{
    border-radius: 10px;
    font-family: var(--font-family);
    font-size: var(--body-font);
    color: var(--neutral-color2);
    width: auto;
    height: 100%;
    position: relative;
    padding: 2rem;
    box-shadow: 4px 4px 20px rgba(38, 0, 109, 0.1);
    transition: 400ms;
}
.container1{
    background-color: var(--primary-color1);
    grid-column: 1/3;
}

.quotation-img{
    position: absolute;
    top: 0;
    right: 15%;
    border-radius: 0;
}

.container header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container header .profile-name h1{
    font-size: 1rem;
}

.container header img{
    margin-right: 1em;
    width: 32px;
    border: solid 2px rgba(255, 255, 255, 0.5);
}

.profile-tag{
    opacity: 50%;
}

.bold{
    font-weight: 600;
    margin-top: 1em;
    font-size: 1.6rem;
}

.quotet{
    font-weight: 500;
    opacity: 70%;
    margin-top: 1em;
}

.container2{
    grid-column: 3/3;
    grid-row: 1 / 1;
    background-color: var(--primary-color2);
}

.container3{
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    color: var(--primary-color3);
    background-color: var(--primary-color4);
}
.container4{
    grid-column: 1 / 1;
    grid-row: 2 / -1;
    color: var(--primary-color3);
    background-color: var(--primary-color4);
}

.container5{
    grid-column: 2 / 4;
    grid-row: 2 / -1;
    background-color: var(--primary-color3);
}


.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center;
    padding: 1rem 2rem;
    background-color: var(--primary-color1);
    width: 100%;
}
.attribution p {
    font-weight: 500;
    letter-spacing: 1px;
    margin: .5em;
    color: var(--primary-color3);
}
.attribution a {
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color3);
} 


/* mobile design */
@media only screen and (max-width:768px){

    body{
        width: 100vw;
        height: 100vh;
    }
    
    main{
        width: 90%;
        height: 100%;
        grid-template: repeat(4, 1fr) / 100%;
        column-gap: 0;
        row-gap: 1em;
        overflow: scroll;
    }

    .container{
        grid-column: 1/-1;
        font-size: 13px;
        width: 100%;
        height: 100%;
    }
    
    .container1{
        grid-row: 1 / 1;
        order: 5;
    }

    .container2{
        grid-row: 2/3;
    }
    .container3{
        grid-row: 5/-1;
    }

    .container4{
        grid-row: 3/4;
    }
    .container5{
        grid-row: 4/5;
    }

    .bold{
        font-weight: 600;
        margin-top: .51em;
        font-size: 1rem;
    }
}
